.reveal .slides {
    text-align: left;
}
.reveal .slides li {
    font-size: .85em;
    margin-bottom: .1em;
}
.reveal .slides section>* {
    margin-left: 0;
    margin-right: 0;
}
.reveal code:not(.hljs) {
  background: #333;
  padding: 3px;
  font-size: .75em;
}
.reveal img {
    margin-left: 33%;
}
